.contact {
    position: relative;
    height: 88vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500px;
}

.contact .content p {
    font-weight: 300px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300px;
}

.container .contactinfo .box .text h2 {
    font-weight: 500;
    color: #00bcd4;
}

.contactform {
    width: 40%;
    padding: 40px;
    background: transparent;
    color: #fff;
}

.contactform h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

.contactform .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputBox input,
.contactform .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    resize: none;
}

.contactform .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span {
    color: #fff;
    font-size: 16px;
    transform: translateY(-20px);
}

.contactform .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}